<p>
  <strong>Path:</strong><br/>
  <%= @stub.path %>
</p>

<p>
  <strong>Params:</strong><br/>
  <%= @stub.params %>
</p>

<p>
  <strong>Response:</strong><br/>
  <%= @stub.response %>
</p>

<p>
  <strong>IsActive:</strong><br/>
  <%= @stub.is_active %>
</p>
<%= link_to 'Back', stubs_path %> | <%= link_to 'Edit', edit_stub_path(@stub) %>